@import "../../styleVariables";

.checker {
  appearance: none;
  position: relative;
  outline: none;
  border-radius: 20px;
  width: 46px;
  height: 28px;
  background: ($light-Grey-Color);
  transition: 1s;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: 43.48%;
    top: 7.14%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-shadow:
      0 4px 8px rgb(0 0 0 / 4%),
      0 0 2px rgb(0 0 0 / 6%),
      0 0 1px rgb(0 0 0 / 4%);
    background: ($white-Color);
    transition: 3s;
  }

  &:checked {
    background: ($light-Blue-Color);
    transition: 1s;

    &::before {
      left: 43.48%;
      transition: 3s;
    }
  }

  &:disabled {
    background: ($disabled-Color);
  }
}
