.button {
  position: relative;
  cursor: pointer;
  margin: 10px;
  font-weight: 600;
  min-width: 47px;
  border-radius: 14px;
  border: none;

  &.small {
    padding: 16px;
    border-radius: 50%;
    background-color: #007aff;

    & .button_icon {
      vertical-align: middle;
      filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(24%)
        hue-rotate(353deg) brightness(106%) contrast(106%);
    }
  }

  &.medium {
    padding: 16px 32px;
    background-color: #f2f2f7;

    & .button_icon {
      filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(16%)
        hue-rotate(5deg) brightness(102%) contrast(100%);
    }
  }

  &.large {
    min-width: 343px;
    padding: 16px 130px;
    color: #ffffff;
    background: linear-gradient(180deg, #00aefa 0%, #0983c5 99.08%);

    & .button_icon {
      filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(24%)
        hue-rotate(353deg) brightness(106%) contrast(106%);
    }

    &.dark {
      background: #000000;
    }
  }
}
.button_icon {
  vertical-align: middle;

  &.left_side {
    position: absolute;
    vertical-align: middle;
    top: 12px;
    left: 18px;
  }

  &.center {
    display: content;
    width: 20px;
    height: 20px;

    & ~ .button {
      padding: 8px 130px;
    }

    & ~ .button_text {
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 0.4px;
    }
  }
}

.no_icon {
  display: none;
}
