@import "../../styleVariables.scss";

.button {
  position: relative;

  min-width: 47px;

  font-weight: 600;

  cursor: pointer;
  border: none;
  border-radius: 14px;

  margin: 10px;

  &.small {
    padding: 16px;
    border-radius: 50%;
    background-color: ($lightBlueColor);

    & .button_icon {
      vertical-align: middle;
      filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(24%)
        hue-rotate(353deg) brightness(106%) contrast(106%);
    }
  }

  &.medium {
    padding: 16px 32px;
    background-color: ($lightGreyColor);

    & .button_icon {
      filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(16%)
        hue-rotate(5deg) brightness(102%) contrast(100%);
    }
  }

  &.large {
    padding: 16px 130px;

    min-width: 343px;

    color: ($whiteColor);
    background: ($blueGradientColor);

    & .button_icon {
      filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(24%)
        hue-rotate(353deg) brightness(106%) contrast(106%);
    }

    &.dark {
      background: ($blackColor);
    }
  }
}
.button_icon {
  vertical-align: middle;

  &.left_side {
    position: absolute;
    top: 12px;
    left: 18px;
    vertical-align: middle;
  }

  &.center {
    display: content;
    width: 20px;
    height: 20px;

    & ~ .button {
      padding: 8px 130px;
    }

    & ~ .button_text {
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 0.4px;
    }
  }
}

.no_icon {
  display: none;
}
