/* stylelint-disable scss/dollar-variable-pattern */
$blue-Gradient-Color: linear-gradient(180deg, #00aefa 0%, #0983c5 99.08%);
$black-Color: #000;
$disabled-Color: #c7c7c7;
$light-Blue-Color: #007aff;
$light-Grey-Color: #f2f2f7;
$white-Color: #fff;
