@import "../../styleVariables";

.range-input {
  appearance: none;
  margin: 0;
  border-radius: 15px;
  width: 247px;

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -14px;
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 8px rgb(0 0 0 / 8%);
    background: ($white-Color);
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    border-radius: 15px;
    height: 4px;
    background-color: ($light-Blue-Color);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.range {
  appearance: none;
  position: relative;
  display: inline;
  vertical-align: middle;

  &-current-number {
    position: absolute;
    left: 4.5%;
    top: 7%;
    pointer-events: none;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }

  &-wrap {
    margin: 30px;
    width: fit-content;
  }
}
